body{
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* NAVBAR */
.navbar-brand{
    color: #949738 !important;
}

.nav-link{
    color: #949738 !important;
}

/* CARD */
/* CARD EXPANSÍVEL SOBRE MIM */

.btn-sobre{
    background-color: #e2dfa3;
    color: white;
    border: none #949738;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
}

.btn-sobre:hover{
    background-color: #949738;
    color: white;
}

.conteudo-sobre{
    margin-top: 15px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    border-left: 4px solid #e6df65;
}

.btn-roxo{
    background-color: #949738;
    color: white;
    padding: 12px 35px;
    border: 2px solid #949738;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-roxo:hover{
    background-color: #e6df65;
    border-color: #7c3aed;
    transform: scale(1.05);
    color: white;
}


/* ACCORDION */
.accordion-item{
    border: none;
}

.accordion-button{
    background-color: #f5f6d6;
    color: #b7c429;
    font-weight: 500;
}

.accordion-button:not(.collapsed){
    background-color: #e2dfa3;
    color: #949738;
}

.accordion-button:focus{
    box-shadow: none;
}

/* ESPAÇO ANTES DO RODAPÉ */
.espaco{
    height: 181px;
}

/* RODAPÉ */
.footer-contato{
    background-color: #e6df65;
    padding: 60px 0;
}

.btn-contato{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 10px;

    box-shadow:
        0 0 8px #c1aa42,
        0 0 12px #383803;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icone-social{
    width: 60px;
    height: 60px;

    border-radius: 50%;

    background-color: #949738;
    color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 30px;

    transition: 0.3s;
}

.icone-social:hover{
    transform: translateY(-5px);
    color: rgb(107, 114, 13);
}
/* MENU DROPDOWN */

.btn-menu{
    background-color: white;
    color: rgb(107, 114, 13);
    border: 1px solid rgb(107, 114, 13);
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
}

.btn-menu:hover{
    background-color: #ffffff;
}

.menu-personalizado{
    width: 180px;
    border-radius: 10px;
    padding: 5px 0;
    background-color: #e6df65;
}

.menu-personalizado .dropdown-item{
    font-size: 16px;
    padding: 10px 15px;
}

.menu-personalizado .dropdown-item:hover{
    background-color: #f1f1f1;
}
#sobreMim{
    margin-bottom: 25px;
}
.perfil-card{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;

    animation: aparecer 0.5s ease;
}

@keyframes aparecer{

    from{
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}

.perfil-card{
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

    animation: surgir 0.5s ease;
}

.foto-perfil{
    width: 140px;
    height: 140px;

    border-radius: 50%;

    object-fit: cover;

    border: 4px solid #e6df65;
}

@keyframes surgir{

    from{
        opacity: 0;
        transform: translateY(-15px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}